In [2]:
#import
import pandas as pd


actors_df = pd.read_csv("actors_ready.csv")

In [3]:
# add actor_id column with id
actors_df.insert(0, 'ACTOR_ID', range(1, 1 + len(actors_df)))
actors_df.head()

,ACTOR_ID,STAGE_NAME,YEARS_ACTIVE,LAST_GIVEN,FIRST_GIVEN,SEX,BIRTH,DEATH,ROLE_TYPES,NATIONALITY
0,1,Bud Abbott,1939-1956,Abbott,William,M,1895,1974,R:straight; comedian,Am
1,2,Diahnne Abbott,1976-1982,NaN,NaN,F,NaN,199x,R:sexy,Am
2,3,George Abbott,1928-1958,Abbott,George,M,1887,199x,R:playwright; producer,Am
3,4,John Abbott,1937-1975,Abbott,John,M,1905,199x,R:staring eyes; eccentric parts,Br
4,5,Philip Abbott,1957-1973,Abbott,Philip,M,1923,199x,R:second lead,Am

In [4]:
# save
actors_df.to_csv('actors_clean.csv')